.lkt-table-page {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--lkt-table--page--gap);
}

.lkt-table-page-content-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--lkt-table--page--gap);
}

.lkt-table {
    width: var(--lkt-table--width);
    font-family: var(--lkt-table--font-family), serif;
}

.lkt-table .lkt-field {
    --lkt-field-font-size: var(--lkt-table--row--font-size);
}

.lkt-table > table {
    width: 100%;
    max-width: 100%;
    border-collapse: var(--lkt-table--border-collapse);
    border-radius: var(--lkt-table--border-radius);
    border-spacing: var(--lkt-table--border-spacing);
}

.lkt-table th,
.lkt-table td {
    vertical-align: middle;
    text-align: var(--lkt-table--text-align);
    padding: var(--lkt-table--row--padding);
    font-size: var(--lkt-table--row--font-size);
    color: var(--lkt-table--row--color);
}

.lkt-table th {
    font-family: var(--lkt-table--header--font-family), serif;
    padding: var(--lkt-table--header--padding);
}

.lkt-table thead tr {
    background-color: var(--lkt-table--header--background);
    position: sticky;
    top: 0;
    z-index: 1;
}

.lkt-table tbody tr {
    background-color: var(--lkt-table--row--background);
}

.lkt-table tbody tr:nth-child(odd) {
    background-color: var(--lkt-table--row-odd--background);
}

.lkt-table [data-sort="asc"] > div,
.lkt-table [data-sort="desc"] > div {
    display: inline-block;
}

.lkt-table [data-sort="asc"] > div:after,
.lkt-table [data-sort="desc"] > div:after {
    font-family: var(--lkt-table--sort-icon--font-family), serif;
    display: inline-block;
    font-size: var(--lkt-table--sort-icon--font-size);
}

.lkt-table [data-sort="asc"] > div:after {
    content: var(--lkt-table--sort-icon--content-asc);
}

.lkt-table [data-sort="desc"] > div:after {
    content: var(--lkt-table--sort-icon--content-desc);
}

.lkt-table td[data-role="drag-indicator"],
.lkt-table td[data-role="invalid-drag-indicator"] {
    width: var(--lkt-table--drag--width);
    height: 40px;
    padding: 0 !important;
    position: relative;
    background: #eeeeee;
    cursor: pointer;
    text-align: center;
}

[data-lkt="empty-table"] {
    border: 1px solid #ddd;
    border-radius: var(--lkt-table--border-radius);
    width: 100%;
    padding: 10px;
    background-color: #f8f7e5;
    font-family: var(--lkt-table--font-family);
    font-size: 13px;
    color: #444;
    text-align: var(--lkt-table--text-align);
}

.sortable-chosen {
    border: var(--lkt-table--drag-chosen--border);
}

.sortable-chosen.ghost {
    background: var(--lkt-table--drag-chosen-ghost--background);
}

.lkt-table td.lkt-table-nav-cell {
    padding: 0;
}

.lkt-table-nav-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.lkt-table-page-buttons {
    position: sticky;
    top: calc(-1 * var(--lkt-table--buttons--gap));
    display: flex;
    align-items: center;
    gap: var(--lkt-table--buttons--gap);
    transition: all linear .150s;
    background: transparent;
    z-index: 6;
}

.lkt-table-page-buttons-bottom {
    justify-content: center;
    position: static;
}

.lkt-table-page-buttons > .switch-edition-mode {
    margin-left: auto;
}

.lkt-table .lkt-table-col-drop {
    width: var(--lkt-table--drop-column--width);
    text-align: var(--lkt-table--drop-column--text-align);
}