.lkt-table-page {
    --lkt-table--border-collapse: separate;
    --lkt-table--border-spacing: 0;
    --lkt-table--width: 100%;
    --lkt-table--font-family: system-ui, Helvetica;
    --lkt-table--border-radius: 5px;
    --lkt-table--text-align: left;

    /** Element: Page Container */
    --lkt-table--page--gap: 15px;

    /** Element: Table Header */
    --lkt-table--header--font-family: system-ui, Helvetica;
    --lkt-table--header--padding: 15px;
    --lkt-table--header--background: #ffffff;

    /** Element: Table Row */
    --lkt-table--row--padding: 15px;
    --lkt-table--row--font-size: 16px;
    --lkt-table--row--color: #444444;
    --lkt-table--row--background: #ffffff;
    --lkt-table--row-odd--background: #f1f1f1;

    /** Element: Drag indicator */
    --lkt-table--drag--width: 20px;

    /** Element: Drop Column */
    --lkt-table--drop-column--width: auto;
    --lkt-table--drop-column--text-align: right;

    /** Element: Sort Icon */
    --lkt-table--sort-icon--font-family: Verdana, Arial, Helvetica, sans-serif;
    --lkt-table--sort-icon--font-size: 11px;
    --lkt-table--sort-icon--content-asc: '';
    --lkt-table--sort-icon--content-desc: '';

    /** Element: Draggable chosen item */
    --lkt-table--drag-chosen--border: 3px dashed #cccccc;
    --lkt-table--drag-chosen-ghost--background: #aaaaaa;

    /** Element: Buttons */
    --lkt-table--buttons--gap: 15px;
}